.App {
  text-align: center;
  height: 100vh;
}

.landing-header {
  height: 30%;
  padding-top:10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./images/uottawa.jpeg");
  background-size: cover;
  background-blend-mode: multiply;
  background-color: grey;
  background-position: center;
  flex-direction: column;
}

.landing-body {
  height: 70%;
  padding-bottom: 50px;
}

.login-btn {
  color: #F5F5DC;
  font-size: 20px;
  background-color: #800000;
  border-radius: 10px;
  padding: 10px
}

.login-btn:hover {
  cursor: pointer;
  background-color: #970000;
}

.store-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  margin-top: 10px;
  justify-content: center;
}

.store-icon-img {
  height: 100px;
  margin-left: 35px;
  margin-right: 35px;
  transition: transform 0.3s;
}

.store-icon-img:hover {
  cursor: pointer;
  transform: scale(1.2);
}
