.menu-title {
    margin-top: 5vh;
    text-align: center;
}

.menu-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.info-container {
    padding: 2vh 15vw;
}

.quantity-modify-btn:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.view-cart-btn {
    margin-right: 75px;
}

.view-cart-btn:hover {
    cursor: pointer;
    color: #9f9f9f;
}