.login-pic {
  background-image: url("./images/uottawa_login.png");
  background-size: cover;
  background-blend-mode: multiply;
  background-color: grey;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center
}

.landing-header {
  height: 7vh;
  padding: 2vh;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #800000;
  overflow: hidden;
  justify-content: space-between,
}

.landing-body {
  height: 90%;
  padding: 2vh;
  color: white;
  text-align: center;
  margin-top: 2vh;
}

.uottawa-btn {
  color: #ffffff !important;
  font-size: 20px !important;
  background-color: #800000 !important;
  border-radius: 10px !important;
  padding: 1.5vh !important;
  margin-left: 1vw !important;
  margin-right: 1vw !important;
  border-color: #800000 !important;
}

.uottawa-modal-btn {
  background-color: #800000 !important;
  border-color: #800000 !important;
}

.uottawa-modal-btn:hover {
  cursor: pointer !important;
  background-color: #970000 !important;
}

.uottawa-btn:hover {
  cursor: pointer !important;
  background-color: #970000 !important;
}

.store-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2vh;
  margin-top: 1vh;
  justify-content: center;
}

.store-icon-container {
  margin: 6vh;
  cursor: pointer;
}

.store-icon-img {
  height: 14vh;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  transition: transform 0.3s;
  margin-bottom: 1vh;
}

.store-icon-img:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.button-container {
  display: flex;
  flex-direction: row;
}

.password-icon-container {
  border-color: #DBDADA !important;
  border-left: none !important;
  background-color: white !important;
}

.form-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.landing-page-icon:hover {
  cursor: pointer;
}

.modal-style .modal-content {
  background-color: #282c34;
}